@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Cal Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  font-family: "Inter Tight", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
